
.section {
    height: 98vh;
}

.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column
}

.container {
    padding: 5px;
}

.big {
    font-size: 3.5em;
}

.sub {
    font-size: 2em;
}

.font-cursive {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font-mono {
    font-family: 'Share Tech Mono', monospace;
}

.download-button {
    min-height: 50px;
    min-width: 250px;
    background: inherit;
    border: 2px solid;
    font-size: 1.1em;
    transition: all ease-in 200ms;
}

.download-button:hover{
    box-shadow: 0px 0px 5px;
}

.btn-link:focus {
    outline: none
}

.pic-container {
    height: 275px;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 7px 0px;
    height: 200px;
}

.icon {
    font-size: 1.6em;
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
}

i {
    font-size: inherit
}

body {
    margin: 0;
    color: rgba(0, 0, 0, 0.80);
    padding: 2vh
}